/* // este es para lograr los ... en el parrafo de las cards .... con bootstrap es text-truncate */
/* .elipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
} */

.item-caract {
  height: 180px !important;
}

/* md ... */
@media screen and (min-width: 576px) and (max-width: 990px) {
  .card {
    width: 75%;
  }
}

/* md ... */
@media screen and (min-width: 991px) {
  .card {
    width: 50%;
  }
}
